.grantsBlock {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.grantsItemBlock {
    display: flex;
    flex-direction: column;
    background: dodgerblue;
    width: 400px;
    height: 400px;
    margin: 25px;
}

.requestsBlock {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#myRequests {
    font-size: 60px;
}

.request {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: darkgray;
    border-radius: 20px;
    height: 92px;
    margin-top: 40px;
}

.request label {
    font-size: 30px;
    margin-left: 20px;
    width: 65%;
}

.request span {
    font-size: 24px;
    width: 18%;
}